<form (submit)="cargar_datos()"  [formGroup]="formulario_eliminar">
<h1 mat-dialog-title>Eliminar Pedido</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Ingrese el Motivo de Eliminar Pedido</label>
                <input type="text" required="true"  formControlName="motivo_modal" id="motivo_modal" class="form-control">
            </div>
        </div>

<div class="col-md-6" id="eliminar_div_usuario_total">
     <div class="form-group">
         <label>Usuario</label>
         <input type="text"  formControlName="eliminar_usuario_total" autocomplete="off" id="eliminar_usuario_total" class="form-control" required="true">
     </div>
 </div>
 <div class="col-md-6" id="eliminar_div_contrasena_total">
     <div class="form-group">
         <label>Contraseña</label>
         <input type="password"  formControlName="eliminar_contrasena_total" autocomplete="off" id="eliminar_contrasena_total" class="form-control" required="true">
     </div>
 </div>





    </div>
</div>
<div mat-dialog-actions>
    <button class="btn btn-danger"   [disabled]="!formulario_eliminar.valid  || !estado_aceptar"  type="submit" style="background-color: red;color: white;">{{button_aceptar}}</button>
  <button mat-button type="button" mat-dialog-close>Cerrar</button>
</div>

</form>