<div class="row">
  <div class="col-md-12">
    <mat-card
      style="margin-top: 0px !important;margin-bottom: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
      <div class="row" style="margin-top: 0px !important;margin-bottom: 0px !important;">
        <div class="col-md-3 col-sm-12">
          <label style="padding-top:15px;font-weight: bold;font-size: 14px;margin-right: 10px;"> Área de Producción:
          </label>
          <mat-form-field appearance="fill" class="seleccionar_tipo_cocina"
            style="margin-top: 0px !important;margin-bottom: 0px !important;margin-top: 5px; ">
            <mat-select [(ngModel)]="selectedValue" name="food">
              <mat-option *ngFor="let food of areas" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
  <div *ngFor="let mesa of lista_mesa;index as i" class="col-md-3"
    style="margin-bottom: 10px;margin-top: 10px;cursor: pointer;" (dblclick)="aceptar_pedido(i,mesa.venta_idventas)">
    <mat-card style="padding: 0px;margin: 0px;">
      <mat-card-header style="background-color: #003c8f; width: 100% !important;">
        <mat-card-title style="margin-top: 10px;color: white;width: 100% !important; " class="container-flx">
          <div class="col-md-12 container-flx"
            style="padding: 0px;margin:0px;align-content: space-between !important;width: 100% !important;">
            <button mat-icon-button class="button-icon-text" aria-label="Example icon-button with menu icon and text">
              <mat-icon>restaurant</mat-icon>
              <span style="margin-left: 10px;" *ngIf="mesa.mesa_id==1; else elseBlock">Delivery <label
                  *ngIf="mesa.nombre_delivery!=''">({{mesa.nombre_delivery}})</label> </span>
              <ng-template #elseBlock>
                <span style="margin-left: 10px;" *ngIf="mesa.mesa_tipo==0; else elseBlock1">MESA {{mesa.mesa_numero}}
                  {{mesa.mesas_agrupas}} </span>
              </ng-template>
              <ng-template #elseBlock1>
                <span style="margin-left: 10px;">LLEVAR {{mesa.mesa_numero}} {{mesa.mesas_agrupas}} </span>
              </ng-template>
            </button>
            <button mat-icon-button class="button-icon-text1">
              <mat-icon>schedule</mat-icon>
              <span style="margin-left: 5px;">
                {{sec[i]}}
              </span>
            </button>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row" *ngFor="let detalle of mesa.lista " style="margin-top: 3px;margin-bottom: 3px;">
          <div class="col-md-2 col-2" style="text-align: end;justify-content: end; ">
            <label style="font-weight: bold;">{{
              detalle.cantidad
              }}</label>
          </div>
          <div class="col-md-10  col-10">
            <div style="font-weight: bold;">{{detalle.producto_descripcion}}
              <span class="badge bg-success" *ngIf="detalle.descripcion !=''"
                style="color: white;font-size: 13px;    white-space: normal;text-align: left;">{{detalle.descripcion}}</span>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <hr style="margin: 0px;padding: 0px;">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions
        style="background-color: #e0e0e0; margin-left: 1px;margin-right: 1px; align-content: center;text-align: center;">
        <label for="">Actualizacion {{hora[i] | dfnsFormat: 'dd/MM/yyyy HH:mm:ss' }}</label>
      </mat-card-actions>
    </mat-card>
  </div>
</div>