.mat-mdc-card {
    &.daxa-card {
        &.total-orders-card {
            .mat-mdc-card-content {
                .title {
                    h5 {
                        margin-bottom: 10px;
                    }
                    .number {
                        font-size: 26px;
                    }
                }
                .icon {
                    width: 75px;
                    height: 75px;

                    i {
                        transform: translateY(-50%);
                        position: absolute;
                        margin-top: -1px;
                        font-size: 40px;
                        top: 50%;
                        right: 0;
                        left: 0;
                    }
                }
                .info {
                    margin-top: 23px;

                    .sub-title {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .mat-mdc-card {
        &.daxa-card {
            &.total-orders-card {
                .mat-mdc-card-content {
                    .title {
                        .number {
                            font-size: 22px;
                        }
                    }
                    .icon {
                        width: 65px;
                        height: 65px;
    
                        i {
                            font-size: 35px;
                        }
                    }
                    .info {
                        margin-top: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}


.daxa-card {
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
    .title {
      h5 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 8px;
      }
  
      .number {
        font-size: 24px;
        color: #007bff; // Azul principal
      }
    }
  
    .icon-container {
      .icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #007bff; // Azul principal
        color: #fff;
        font-size: 24px;
        border-radius: 50%;
      }
    }

    .icon-containerDanger {
        .icon {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #dc3545; // Azul principal
          color: #fff;
          font-size: 24px;
          border-radius: 50%;
        }
      }
  
    .icon-containerSuccess {
        .icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        border-radius: 50%;
        background-color: #28a745; // Verde para success
        }
    }
    
    .icon-containerWarning {
        .icon {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 24px;
        border-radius: 50%;
        background-color: #ffc107; // Amarillo para warning
        }
    }
    .info {
      .sub-title {
        font-size: 14px;
        color: #6c757d; // Gris claro
      }
  
      .badge {
        font-size: 14px;
        background-color: #28a745; // Verde éxito
        color: #fff;
        padding: 4px 8px;
        border-radius: 16px;
        display: inline-flex;
        align-items: center;
  
        .material-symbols-outlined {
          font-size: 18px;
          margin-right: 4px;
        }
      }
    }
  }

  .badge-success {
    background-color: #28a745;
    color: #fff;
    padding: 4px 8px;
    border-radius: 16px;
  }
  
  .badge-danger {
    background-color: #dc3545;
    color: #fff;
    padding: 4px 8px;
    border-radius: 16px;
  }