/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'styles/material';
@import 'simple-keyboard/build/css/index.css';
@import '~normalize.css/normalize.css';
@import '~prism-themes/themes/prism-vs.css';

* {
  box-sizing: border-box;
}

.v-align-middle { 
  vertical-align: middle;
} 

.modal_precio .mat-dialog-container  {
 padding: 0px !important;
    
}
.mat-dialog-content{
  max-height: 90vh !important;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-weight: 300;
  color: #495057 !important;
  font-size: 14px;
  font-family: $font-family;
}

pre[class*='language-'] {
  border: none;
  border-left: 10px solid #dee2e6;
  background: #fff;
  margin: 0 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2.5rem 0 1rem;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;

  &:first-child {
    margin-top: 0;
  }
}

p {
  line-height: 1.5;
  margin: 0 0 1rem;
}

.table__documentation {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;

  td,
  th {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
  }

  th {
    text-align: left;
    font-weight: 500;
  }

  td {
    pre[class*='language-'] {
      border: none;
      margin: 0;
    }
  }
}

.d-none {
  display: none !important;
}


.dark-modal .modal-content {
  /*background-color: #292b2c;
  color: white;*/
 width: 95% !important; 

  margin: auto;
}
.dark-modal .modal-xl {
  max-width: 95% !important;


}

.cdk-overlay-container {
  z-index: 99999999999999; 
}
.dark-modal .close {
  //color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
//DESDE AQUI

:root {
    --fontFamily: 'Outfit', sans-serif;
    --daxaColor: #0f79f3;
    --primaryColor: #796df6;
    --dangerColor: #e74c3c;
    --infoColor: #00cae3;
    --warningColor: #ffb264;
    --successColor: #2ed47e;
    --blackColor: #475569;
    --whiteColor: #ffffff;
    --bodyColor: #919aa3;
    --transition: .5s;
    --fontSize: 16px;
    --borderBoxShadow: rgba(0, 0, 0, .05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    color: var(--blackColor);
    background-color: #eff3f9;
    font: {
        weight: 400;
        size: var(--fontSize);
        family: var(--fontFamily);
    };
}
a {
    transition: var(--transition);
    color: var(--blackColor);
    text-decoration: none;
    outline: 0 !important;

    &:hover {
        text-decoration: none;
        color: var(--daxaColor);
    }
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
img {
    max-width: 100%;
    height: auto;
}
input {
    font: {
        family: var(--fontFamily);
        size: var(--fontSize);
    };
}
button {
    font: {
        family: var(--fontFamily) !important;
        size: var(--fontSize) !important;
    };
}
.mb-25 {
    margin-bottom: 25px !important;
}

// Utilities CSS
@import "./utilities";

// UI Kit CSS
@import "./ui-kit";
 

// RTL CSS
@import "./rtl";

// Dark CSS
@import "./dark";

/* Max width 767px */
@media only screen and (max-width : 767px) {

    body {
        font-size: 14px;
    }
    .mb-25 {
        margin-bottom: 15px !important;
    }
    button {
        font-size: 14px !important;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .mb-25 {
        margin-bottom: 20px !important;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    body {
        font-size: 15px;
    }
    button {
        font-size: 15px !important;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
